.toblue
{
    color:  blue;
}
h1
{
    position: absolute;
     left: 40% ;
}
h2
{
    text-align :center  ;
    text-shadow: 2px 2px 4px rgb(168, 90, 41);
    
}
ul
{
    border: 9px double  black ;
    box-shadow: 6px 6px 0px rgb(72, 57, 57);
}
body
{
     background-image: url(IMBG§.jpg);/* WALLpaper PC */
    background-size: cover;
}
a:hover
{
    color: rgb(39, 27, 207);
    font-style: italic;
    font-size: x-large;
}
a:active
{
    color: rgb(157, 142, 142);
    font-style: italic;
}
img {
    height: 400px;
    width: 400px;
    border-radius : 50%;
  }